html, body {
    width: 100%;
    height: 100%;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #CCC;
    background-color: #222;
}

a {
    color: white;
}

/* Demo index page */

hr {
    border: 1px solid #D3D3FF;
}

.disclaimer {
    font-weight: bold;
    font-style: italic;
}

#webgl-error {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}

#demo-page {
    max-width: 700px;
    margin: 20px auto;
    line-height: 120%;
}

#demo-page h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 40px 20px;
}

#demo-page h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 30px 20px;
}

#demo-page h1, h2 {
    color: #EEE;
    letter-spacing: 2px;
}

#demo-page p {
    margin: 35px 20px;
    line-height: 200%;
    letter-spacing: 0.5px;
}

/* Demo pages */

.demo-container {
    text-align: center;
}

canvas {
    display: inline-block;
}

/* Photo demo */

.input-canvas-container {
    display: inline-block;
    position: relative;
    width: 256px;
    height: 256px;
}

.input-canvas-container #eye,
.input-canvas-container .input-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
