html, body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #CCC;
    background-color: #222;
}

/*
 Why have a canvas-container that just wraps a canvas?
 canvas.width and canvas.height don't return the correct
 value when you size a canvas with CSS. So we size
 canvas-container with CSS and, on resize, size canvas to
 canvas-contaiener in JS.
*/

#canvas-container {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
}

canvas {
    width: 100%;
    height: 100%;
}

#app-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

#webgl-error {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}

#instructions {
    height: 40px;
    line-height: 40px;
    background: #222;
}
