html, body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #CCC;
    background-color: #222;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    color: white;
}

/* Demo index page */

#webgl-error {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}

#demo-page {
    margin: 20px;
}

/* Demo pages */

.demo-container {
    text-align: center;
}

canvas {
    display: inline-block;
}